<div class="col-lg-3 d-none d-lg-block">
    <ul class="list-group myStickyListGroup shadow bg-white rounded">
        <li class="list-group-item rounded">
            <font size="5"><b>{{ player.name }}</b></font> Lv. {{ player.level }}<br>
            <font size="2">HP: {{ player.currentHealth }}/{{ player.maxHealth }}</font>
            |
            {% if player.stamina < 50 %}
                <font size="2">Stamina: <font style="color:yellow; text-shadow: 1px 1px 1px black;"> {{ player.stamina }}</font>/100</font>
            {% elseif player.stamina < 10 %}
                <font size="2">Stamina: <font color="red"> {{ player.stamina }}</font>/100</font>
            {% else %}
                <font size="2">Stamina: {{ player.stamina }}/100</font>
            {% endif %}

            {% if player.isFighting %}
                <p>Status: <img width="18" src="./images/combat.gif" title="Raiding {{ huntingDungeon.name }}"></p>
            {% elseif player.getCurrentActivity %}
                <p>Status: <img width="18" src="./images/pz.gif" title="Perorming activity"></p>
            {% else %}
                <p>Status: <img width="18" src="./images/pz.gif" title="In protective zone"></p>
            {% endif %}
            <hr>
            <center>
                <pre>Skills</pre>
            </center>
            <font size="2">Experience: {{ player.exp }} /{{ player.nextLevelExp }}<br>
                Magic: {{ player.magic }}<br>
                Strength: {{ player.strength }}<br>
                Defense: {{ player.defence }}<br>
            </font>
        </li>
        <li class="list-group-item rounded">
            <center>
                <pre>Bank</pre>
            </center>
            <font size="2">
                Gold: {{ player.gold }}<br>
                Crystals: {{ player.crystals }} <br>
            </font>
        </li>
        <li class="list-group-item rounded">
            <center>
                <pre>Log</pre>
            </center>
            <font size="1">
                {% for log in player.logs(3) %}
                    {{ log }}<br>
                {% endfor %}
            </font>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
